body {
  z-index: 0;
}
.navbar-dark {
  background-color: black;
}
.navbar-dark {
  background: black;
}
.navbar-collapse {
  margin-left: 40px;
}

.nav-item {
  margin-left: 35px;
}

.nav-link {
  padding-right: 40px;
}
.nav-item {
  margin-left: 35px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
}
.divider {
  background-color: #3a709c;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 1px;
  display: block;
  padding: 0px;
}
.row-content p {
  line-height: normal;
}

header {
  width: 100%;
}
.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: black;
  color: #cbd1db;
  width: 100%;
}

/* code for profiles in teams */

.content {
  width: 50%;
  margin: 4px 25% 4px 25%;
  background-color: #aeb3b8;
  border-radius: 5px;
  padding: 4px;
}

/* Contact-Us*/
.container-fluid {
  background-color: rgb(106, 194, 253);
  text-align: center;
  margin-bottom: 30%;
  padding-bottom: 5%;
}

.contact-us-content {
  margin-top: 5%;
  padding-right: 3%;
  padding-left: 3%;
}

.contact-us {
  text-align: center;
  padding-top: 3%;
}

form {
  margin-left: 10%;
}
.question-img {
  padding-left: 30%;
  margin-top: 5%;
  
}
.name {
  font-size: 20px;
}

textarea {
  resize: none;
  width: 300px;
  height: 150px;
}

#input-name {
  width: 300px;
}

#email {
  width: 300px;
}